.room__container {
    padding:10px 0;
    margin-top: 50px;
}

.room__detail__banner {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
}

.room__profile__image__detail {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.threads {
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thread__post {
    border:1px solid red;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 120px;
    margin-top: 2%;
    margin: 10px auto;
    background-color: white;
}

